name: Verify (Unit Tests)

on:
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version-file: .github/workflows/.java-version

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Unit tests
        run: ./gradlew testDebugUnitTest :lint-rules:test

      - name: Lint check
        run: ./gradlew lint